{% extends 'games/base.html' %}
{% block header %}
  <title>Создание игры</title>
{% endblock %}

{% block content %}
  <div class="card border-dark">
    <div class="card-header">
      Создание игры
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for err in form.non_field_errors %}
          <p class="red">{{ err }}</p>
        {% endfor %}

        {% for field in form %}
          <div class="row">

            {% if field.name == 'name' %}

              <div class="col my-2 col-6">
                {{ field.label_tag }}
              </div>
              <div class="col my-2 col-6">
                {{ field }}
              </div>
              <span class="red">{{ field.errors }}</span>

              <div class="col-6 my-2">
                Ограничить стоимость подарка
              </div>

              <div class="col-2 my-2">
                <label class="switch">
                  <input type="checkbox" onclick="togglePriceElement()">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-4 my-2"></div>

            {% elif field.name == 'coordinator'%}
              {{ field }}

            {% elif field.name == 'is_santa' %}
              <div class="col-6 my-2">
                {{ field.label_tag }}
              </div>

              <div class="col-2 my-2">
                <label class="switch">
                  {{ field }}
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-4 my-2"></div>

            {% elif field.name == 'max_price' %}
              <div class="col col-12" id="can_hide" style="display: none;">
                <div class="row">
                  <div class="col can_hide my-2 col-6">
                    {{ field.label_tag }}
                  </div>
                  <div class="col cah_hide my-2 col-6">
                    {{ field }}
                  </div>
                </div>
              </div>

            {% else %}
              <div class="col my-2 col-6">
                {{ field.label_tag }}
              </div>
              <div class="col my-2 col-6">
                {{ field }}
              </div>
              <span class="red">{{ field.errors }}</span>
            {% endif %}
          </div>

        {% endfor %}

        <div class="row">
          <div class="col">
            <a class="btn btn-outline-dark my-3" href="{% url 'profile'%}" type="button">
              Вернуться в ЛК
            </a>
          </div>
          <div class="col">
            <button class="btn btn-dark my-3 float-right" type="submit">
              Создать игру
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

<script>
  const togglePriceElement = () => {
      el = document.getElementById('can_hide');
      if (el.style.display === 'none') {
        el.style.display = 'initial';
      } else {
        el.style.display = 'none';
        document.getElementById('max_price').value = null;
      }
  }
</script>

{% endblock %}