{% extends 'games/base.html' %}
{% block header %}
  <title>Добавление пары-исключения</title>
{% endblock %}

{% block content %}
  <div class="card  border-dark">
    <div class="card-header">Добавление пары-исключения</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for err in form.non_field_errors %}
          <p class="red">{{ err }}</p>
        {% endfor %}
        {% for field in form%}
          {% if field.name != 'game' %}
          <div class="row">
            <div class="col my-2 col-4">
              {{ field.label_tag }}
            </div>
            <div class="col my-2 col-8">
              {{ field }}
            </div>
            <span class="red">{{ field.errors }}</span>
          </div>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <div class="row">
          <div class="col">
            <a class="btn btn-outline-dark my-3" href="{% url 'update_game' game.pk%}" type="button">
              Вернуться в редактирование игры
            </a>
          </div>
        <div class="col">
          <button class="btn btn-dark my-3 float-right" type="submit">
            Сохранить
          </button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
