{% extends 'games/base.html' %}
{% block header %}
    <title>Логин</title>
{% endblock %}

{% block content %}
<div class="card  border-dark">
    <div class="card-header">Логин</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for err in form.non_field_errors %}
          <p class="red">{{ err }}</p>
        {% endfor %}

        {% for field in form  %}
          <div class="row">
              <div class="col my-2 col-4">
                {{ field.label_tag }}
              </div>
              <div class="col col-8">
                {{ field }}
              </div>
            <span class="red">{{ field.errors }}</span>
          </div>
        {% endfor %}
        <button class="btn btn-dark my-3 float-right" type="submit">
          Войти
        </button>
      </form>
    </div>
  </div>
{% endblock %}