{% extends 'games/base.html' %}
{% load static %}
{% block header %}
    <title>Личный кабинет</title>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">Личный кабинет</div>
    <div class="card-body">

      <div class="card">
        <div class="card-header">Организатор игр:</div>
          <div class="card-body">
            {% if coordinator_games %}
              {% for coordinator_game in coordinator_games %}
                <p><a href="{% url 'update_game' coordinator_game.pk %}" class="text-dark">{{ coordinator_game.name }}</a></p>
              {% endfor %}
            {% else %}
              <div>Вы пока не организовали ни одной игры</div>
            {% endif %}
            <a class="btn btn-outline-dark my-3 float-right" href="{% url 'create_game' %}" role="button">Создать игру</a>
          </div>
      </div>

      <div class="card">
        <div class="card-header">Участвуете в играх:</div>
        <div class="card-body">
        {% if santa_games %}
        <ul>
          {% for santa_game in santa_games %}
            <li>{{ santa_game.name }}</li>
          {% endfor %}
        </ul>
        {% else %}
          <div>Вы пока не участвуете ни в одной игре</div>
        {% endif %}
        </div>
      </div>

      <div class="card">
        <div class="card-header">Карточка санты:</div>
        <div class="card-body">
          <form method="get">
            {{ form.as_p }}
            <a class="btn btn-outline-dark my-3 float-right" href="{% url 'santacard' %}" role="button">Редактировать карточку</a>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
