{% extends 'games/base.html' %}
{% block header %}
    <title>Регистрация пользователя</title>
{% endblock %}

{% block content %}

<div class="card border-dark">
  <form method="post">
    <div class="card-header border-dark" style="border-top: 1px solid;">
      Регистрация
    </div>

    <div class="card-body">
      {% csrf_token %}
      {% for field in form%}
        {% if field.name not in 'wishlist,letter_to_santa' %}
          <div class="row">
              <div class="col my-2 col-4">
                {% if field.field.required %}
                  <strong>{{ field.label_tag }}</strong>
                {% else %}
                  {{ field.label_tag }}
                {% endif %}
              </div>
              <div class="col my-2 col-8">
                {{ field }}
              </div>
            <span class="red">{{ field.errors }}</span>
          </div>
        {% endif %}
      {% endfor %}
      <p>* поля, выделенные жирным, являются обязательными для заполнения</p>
    </div>

    {% if is_invited%}
      <div class="card-header border-dark" style="border-top: 1px solid;">
        Карточка Санты
      </div>

      <div class="card-body">
        <p>Желательные, но не обязательные поля для подбора более точного подарка</p>

        {% for field in form%}
          {% if field.name in 'wishlist,letter_to_santa' %}
            <div class="row">
                <div class="col my-2 col-4">
                  {% if field.field.required %}
                    <strong>{{ field.label_tag }}</strong>
                  {% else %}
                    {{ field.label_tag }}
                  {% endif %}
                </div>
                <div class="col my-2 col-8">
                  {{ field }}
                </div>
              <span class="red">{{ field.errors }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <button class="btn btn-dark my-4 float-right mr-3" type="submit">
      Зарегистрироваться
    </button>

  </form>
</div>
{% endblock %}