{% extends 'games/base.html' %}
{% load static %}
{% block header %}
    <title>Карточка Санты</title>
{% endblock %}

{% block content %}
  <div class="card  border-dark">
    <div class="card-header">
      Карточка санты
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-dark my-3 float-right" type="submit">
          Сохранить
        </button>
      </form>
    </div>
  </div>
{% endblock %}