{% extends 'games/base.html' %}
{% load static %}
{% block header %}
  <title>Изменение игры</title>
{% endblock %}

{% block content %}
  <div class="card  border-dark">
    <div class="card-header">Редактирование игры</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for err in form.non_field_errors %}
          <p class="red">{{ err }}</p>
        {% endfor %}

        {% for field in form %}
          <div class="row">

            {% if field.name == 'name' %}

              <div class="col my-2 col-6">
                {{ field.label_tag }}
              </div>
              <div class="col my-2 col-6">
                {{ field }}
              </div>
              <span class="red">{{ field.errors }}</span>

              <div class="col-6 my-2">
                Ограничить стоимость подарка
              </div>

              <div class="col-2 my-2">
                <label class="switch">
                  <input
                    type="checkbox"
                    onclick="togglePriceElement()"
                    {% if form.instance.max_price is not None %}checked{% endif %}
                  >
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-4 my-2"></div>

            {% elif field.name == 'max_price' %}
              <div
                class="col col-12"
                id="can_hide"
                style="display: {% if form.instance.max_price is None %}none{% else %}initial{% endif %};"
              >
                <div class="row">
                  <div class="col can_hide my-2 col-6">
                    {{ field.label_tag }}
                  </div>
                  <div class="col cah_hide my-2 col-6">
                    {{ field }}
                  </div>
                </div>
              </div>

            {% else %}
              <div class="col my-2 col-6">
                {{ field.label_tag }}
              </div>
              <div class="col my-2 col-6">
                {{ field }}
              </div>
              <span class="red">{{ field.errors }}</span>
            {% endif %}
          </div>

        {% endfor %}

        <div class="row">
          <div class="col">
            <a class="btn btn-outline-dark my-3" href="{% url 'profile'%}" type="button">
              Вернуться в ЛК
            </a>
          </div>
          <div class="col">
            <button class="btn btn-dark my-3 float-right" type="submit">
              Изменить данные
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="card-header">Участники</div>

    <div class="card-body">
      {% if santas %}
        <div class="row py-3" style="border-bottom: 1px solid;">
          <div class="col">Username</div>
          <div class="col">Эл. почта</div>
          <div class="col">Имя</div>
          <div class="col">Фамилия</div>
          <div class="col"></div>
        </div>
        {% for santa in santas %}
          <div class="row py-3" style="border-bottom: 1px solid;">
            <div class="col">{{ santa.user.username }}</div>
            <div class="col">{{ santa.user.email }}</div>
            <div class="col">{{ santa.user.first_name }}</div>
            <div class="col">{{ santa.user.last_name }}</div>

            <div class="col">
              <a href="{% url 'remove_santa_from_game' game.pk santa.pk %}" type="button" class="text-danger">удалить</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
          Пока нет участников
      {% endif %}
    </div>

    <div class="card-header">Пары-исключения</div>

    <div class="card-body">
      {% for exclusion in exclusions %}
        <div class="row">
          <div class="col-3">
            {{ forloop.counter }}. {{ exclusion.giver.user.username }}
          </div>
          <div class="col-3">
            {{ exclusion.receiver.user.username }}
          </div>
          <div class="col-3">
            <a href="{% url 'remove_exclusion_from_game' game.pk exclusion.pk %}" type="button" class="text-danger">удалить</a>
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col">
          <a class="btn btn-outline-dark my-3" href="{% url 'profile'%}" type="button">
            Добавить пару-исключение
          </a>
        </div>
      </div>
    </div>
  </div>

<script>
  const togglePriceElement = () => {
      el = document.getElementById('can_hide');
      if (el.style.display === 'none') {
        el.style.display = 'initial';
      } else {
        el.style.display = 'none';
        document.getElementById('max_price').value = null;
      }
  }
</script>

{% endblock %}
